<div class="jumbotron center">
  <h1>Alpha Blog</h1>
  <p><%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
  <p><%= link_to 'Alpha Blog', articles_path %></p>
  <p><%= link_to 'About', about_path %></p>
</div>
